BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: None
AlignOperands: DontAlign
AllowAllArgumentsOnNextLine: true
AlignConsecutiveTableGenDefinitionColons: None
BinPackArguments: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: Inline
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: NonAssignment
PointerAlignment: Left
AccessModifierOffset: -4
Cpp11BracedListStyle: false
